<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated catalog -->
      <package
            uri="http://www.example.org/catalog"
            class="catalog.CatalogPackage"
            genModel="model/catalog.genmodel"/>
   </extension>

</plugin>
